on boot
    chown system system /dev/iio:device0
    chown system system /sys/bus/iio/devices/iio:device0/hard_offset
    chown system system /sys/bus/iio/devices/iio:device0/sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device0/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device0/buffer/length
    chown system system /sys/bus/iio/devices/iio:device0/trigger/current_trigger
    chown system system /dev/iio:device1
    chown system system /sys/bus/iio/devices/iio:device1/sampling_frequency
    chown system system /sys/bus/iio/devices/iio:device1/buffer/enable
    chown system system /sys/bus/iio/devices/iio:device1/buffer/length
    chown system system /sys/bus/iio/devices/iio:device1/trigger/current_trigger
    chown system input /sys/bus/iio/devices/iio:device1/in_accel_x_calibbias
    chown system input /sys/bus/iio/devices/iio:device1/in_accel_y_calibbias
    chown system input /sys/bus/iio/devices/iio:device1/in_accel_z_calibbias
    write /sys/bus/iio/devices/iio:device0/position 1
    write /sys/bus/iio/devices/iio:device1/position 0
    chmod 666 /data/system/yas.cfg
    write /data/system/yas.cfg "200,300,500,30,20,15,1,1,1,10872,166,113,376,8812,-118,340,-718,10451"

    chown system system /sys/class/input/input0/driver/enable
    chown system system /sys/class/input/input1/driver/enable
    chown system system /sys/class/input/input0/driver/delay
    chown system system /sys/class/input/input1/driver/cali

#MAC setup
service btnvtool /system/vendor/bin/btnvtool -I
    user root
    group root
    oneshot
